
{{!-- =============== Page message Admin ===============--}}
<div class="container">
    <div class="row">
        <div class="col l12 s12">
            <h3>Messages</h3>
        </div>
    </div>

    {{!-- GET --}}
    <div class="row">
        <div class="col l12 s12">
            <ul>
                {{#each dbMessage }}
                <li>
                    <p>{{ email }} </p>
                    <p>{{ message }}</p>
                    <button data-target="modal1{{_id}}" class="btn modal-trigger" type="submit"> <i
                            class="material-icons">delete</i></button>
                </li>
                {{!-- modal confirmation suppression --}}
                <div id="modal1{{_id}}" class="modal">
                    <div class="modal-content">
                        <p>La vérité t'es sur de vouloir supprimer ? </p>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col l3 s3">
                                <form action="/admin/message/{{_id}}/?_method=DELETE" method="POST">
                            <button type="submit" class="btn">Oui</button>
                        </form>
                            </div>
                            <div class="col l3 s3">
                                <button type="button" class="btn modal-close">Non</button>
                            </div>
                        </div>                      
                    </div>
                </div>
                {{/each }}
            </ul>
        </div>
    </div>
</div>

