<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Logo</a>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{#if user }}
      <li><a href="/espacePerso">Mon profil</a></li>
      <li><a class="modal-trigger" href="#modal1">Deconnexion</a></li>
      {{ else }}
      {{/if }}

      {{#if user}}
      {{else}}
      <li><a href="/connexion">Connexion</a></li>
      {{/if }}

      <li><a href="/createCompte">créer un compte</a></li>
    </ul>
  </div>
  <div class="row">
    <a class="waves-effect waves-light btn-small col s4" href="/decouvrir">Découvrir</a>
    <a class="waves-effect waves-light btn-small col s4" href="/guide">Guide Pratique</a>
    <a class="waves-effect waves-light btn-small col s4" href="/rechercher"> <i
        class="tiny material-icons">search</i></a>
  </div>

</nav>

<ul id="slide-out" class="sidenav">
  {{#if user }}
  <li>
    <div class="user-view">
      <div class="background">
        <img src="/assets/images/strathisla.jpg" width="100%">
      </div>
      <!-- Modal Trigger -->
      <a><img class="circle" src="{{ dbUserId.imgUser }}"></a>
      <!------------------->
      <a href="#name"><span class="white-text name">{{ firstname }} {{ lastname }} {{ userGoogleName }} </span></a>
      <p><span class="white-text email">{{ dbUserId.email }}</span></p>
    </div>
  </li>
  <li><a href="/espacePerso">Mon profil</a></li>
  <li><a class="modal-trigger" href="#modal1">Deconnexion</a></li>
  {{else}}
  {{/if}}

  {{#if user}}
  {{else}}
  <li><a href="/connexion">Connexion</a></li>
  {{/if}}

  <li><a href="/createCompte">créer un compte</a></li>
</ul>

<!-- Modal confirmation de deconnexion -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Etes vous sur de vouloir vous déconnecter ?</h4>
    </div>
    <div class="modal-footer">
            <a href="/deco"><button class="modal-close waves-effect waves-green btn-flat">oui</button></a> 
        </form>
        <button type="button" class="modal-close waves-effect waves-green btn-flat">non</button>
    </div>
</div>