{{!-- =============== Navbar ===============--}}
{{!-- 
*
* le status de l'utilisateur est récupéré dans le req.session 
*
 --}}
<nav class="nav-extended">
  <div class="nav-wrapper">
    <div class="row">
      <div class="col l4 m4 s4">
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <a href="/" class="brand-logo">Tasting Spirit</a>

      </div>

      <div class="col l8 m8 s8">

        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {{#if user }}
          <li><a href="/espacePerso">Mon profil</a></li>
          <li><a class="modal-trigger" href="#modal1">Deconnexion</a></li>
          {{ else }}
          {{/if }}

          {{#if user}}
          {{else}}
          <li><a href="/connexion">Connexion</a></li>
          {{/if }}

          {{#if user}}
          {{else }}
          <li><a href="/createCompte">créer un compte</a></li>
          {{/if }}
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <a class="waves-effect waves-light btn-small col l4 m4 s4" href="/decouvrir">Découvrir</a>
    <a class="waves-effect waves-light btn-small col l4 m4 s4" href="/guide">Guide Pratique</a>
    <a class="waves-effect waves-light btn-small col l4 m4 s4" href="/rechercher"><i class="fas fa-search"></i></a>
  </div>

</nav>
{{!-- =============== FIN Navbar ===============--}}

{{!-- =============== SIDEnav ===============--}}
<ul id="slide-out" class="sidenav">
  {{#if user }}
  <li>
    <div class="user-view">
      <div class="background">
        <img src="/assets/images/strathisla.jpg" width="100%">
      </div>
      <a><img class="circle" src="{{ dbUserId.imgUser }}"></a>
      <a href="#name"><span class="white-text name">{{ firstname }} {{ lastname }} {{ userGoogleName }} </span></a>
      <p><span class="white-text email">{{ dbUserId.email }}</span></p>
    </div>
  </li>
  <li><a href="/espacePerso">Mon profil</a></li>
  <li><a class="modal-trigger" href="#modal1">Deconnexion</a></li>
  {{else }}
  {{/if }}

  {{#if user }}
  {{else }}
  <li><a href="/connexion">Connexion</a></li>
  {{/if }}

  {{#if user}}
  {{else}}
  <li><a href="/createCompte">créer un compte</a></li>
  {{/if}}
</ul>
{{!-- =============== FIN SIDEnav ===============--}}


{{!-- =============== Modal confirmation de deconnexion ===============--}}
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Etes vous sur de vouloir vous déconnecter ?</h4>
  </div>
  <div class="modal-footer">
    <a href="/deco"><button class="modal-close waves-effect waves-green btn-flat">oui</button></a>
    </form>
    <button type="button" class="modal-close waves-effect waves-green btn-flat">non</button>
  </div>
</div>

<style>
  .brand-logo {
    font-family: 'Tangerine', cursive;
  }
</style>