
{{!-- =============== Archives ===============--}}
<div class="container">
    <h3>Mes dégustations</h3>
    <ul>
        {{#each dbDegust }}
        <li>
            <div class="row">
                <div class="col l12 s12">
                    {{ head.whiskyName }} dégusté le : {{ head.date }} à {{ head.lieu }}
                    <!-- Modal Trigger -->
                    <button data-target="modal1{{_id}}" class="btn modal-trigger" type="submit">voir</button>
                    <button data-target="modal2{{_id}}" class="btn modal-trigger" type="submit"><i
                            class="material-icons">delete</i></button>
                </div>
            </div>
        </li>

        <!-- Modal Supprimer -->
        <div id="modal2{{_id}}" class="modal">
            <div class="modal-content">
                <div class="row">
                    <div class="col l12 s12">
                        <h4>Confirmer la suppression ?</h4>
                        <div class="row">
                            <div class="col l1 s1">
                                <form action="/espacePerso/{{_id}}/?_method=delete" method="POST">
                                    <button type="submit"
                                        class="modal-close waves-effect waves-green btn-flat">oui</button>
                                </form>
                            </div>
                            <div class="col l1 s1">
                                <button type="button" class="modal-close waves-effect waves-green btn-flat">non</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal voir -->
        <div id="modal1{{_id}}" class="modal">
            <div class="modal-content">
                {{!-- =============== EN-TETE ===============--}}

                <div class="degust-title">
                    <h3>Degustation</h3>
                </div>

                <div class="head-taste">
                    <div class="row">
                        <div class="input-field col s6">
                            <p>{{ head.whiskyName}}</p>
                        </div>
                        <div class="input-field col s6">
                            <p>{{ head.lieu}}</p>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <p>{{ head.origine}}</p>
                            </div>
                            <div class="input-field col s6">
                                <p>{{ head.date}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- =============== VISUEL ===============--}}

                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header section-title">
                            <h6>Visuel</h6>
                        </div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="visu">
                                    <div class="limpidité">
                                        <div class="st">
                                            <p>Limpidité</p>
                                        </div>
                                        <div class="row bg-beige">
                                            <div class="col l12 s12">
                                                <p>{{  visuel.limpidite }}</p>
                                            </div>
                                        </div>
                                        <div class="brillance">
                                            <div class="st">
                                                <p>Brillance</p>
                                            </div>
                                            <div class="row bg-beige">
                                                <div class="col l12 s12">
                                                    <p>{{ visuel.brillance}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="intensité">
                                            <div class="st">
                                                <p>Intensité colorante</p>
                                            </div>
                                            <div class="row bg-beige">
                                                <div class="col l12 s12">
                                                    <p>{{ visuel.intensite}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="capillarité">
                                            <div class="st">
                                                <p>Capillarité (larmes)</p>
                                            </div>
                                            <div class="row bg-beige">
                                                <div class="col l12 s12">
                                                    <p>{{ visuel.capillarite}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="couleur">
                                            <div class="st">
                                                <p>Couleur (nuance du disque)</p>
                                            </div>
                                            <div class="row bg-beige">
                                                <div class="col l12 s12">
                                                    <p>{{ visuel.couleur}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                    </li>

                    {{!-- =============== OLFACTIF ===============--}}

                    <li>
                        <div class="collapsible-header section-title">
                            <h6>Olfactif</h6>
                        </div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="olfactif">
                                    <div class="fist-nose">
                                        <div class="st">
                                            <p>1er nez (avant aération)</p>
                                        </div>
                                        <div class="row bg-beige">
                                            <p>1ère impression (franchise)</p>
                                            <div class="col l3 s3">
                                                <p> {{ olfactif.franchise }} </p>
                                            </div>
                                        </div>
                                        <div class="row bg-beige">
                                            <p>Intensité aromatique</p>
                                            <div class="col l4 s4">
                                                <p> {{ olfactif.intensiteOl }} </p>
                                            </div>
                                        </div>
                                        <div class="row bg-beige">
                                            <p>Citez deux familles aromatiques :</p>
                                            <p> {{ olfactif.textfamille }}</p>
                                        </div>
                                        <div class="row bg-beige">
                                            <p>Citez trois arômes :</p>
                                            <p>{{ olfactif.textaromes }} </p>
                                        </div>
                                    </div>
                                    <div class="second-nose">
                                        <div class="st">
                                            <p>2eme nez (après aération)</p>
                                        </div>
                                        <div class="row bg-beige">
                                            <p>Citez deux familles aromatiques :</p>
                                            <p>{{ olfactif.textfamillebis}} </p>
                                        </div>
                                        <div class="row bg-beige">
                                            <p>Citez trois arômes :</p>
                                            <p>{{ olfactif.textaromesbis}} </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>


                    {{!-- =============== GUSTATIF ===============--}}

                    <li>
                        <div class="collapsible-header section-title">
                            <h6>Gustatif</h6>
                        </div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="gustatif">
                                    <div class="attaque">
                                        <div class="st">
                                            <p>Attaque</p>
                                        </div>
                                        <div class="row bg-beige">
                                            <div class="col l3 s3">
                                                <p>{{ gustatif.attaque }} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="acidité">
                                        <div class="st">
                                            <p>Acidité</p>
                                        </div>
                                        <div class="row bg-beige">
                                            <div class="col l3 s3">
                                                <p>{{ gustatif.acidite }} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="moelleux">
                                        <div class="st">
                                            <p>Moelleux (consistance-rondeur-alcool)</p>
                                        </div>
                                        <div class="row bg-beige">
                                            <div class="col l2 s2">
                                                <p>{{ gustatif.moelleux }} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sale">
                                        <div class="st">
                                            <p>Salé</p>
                                        </div>
                                        <div class="row bg-beige">
                                            <div class="col l4 s4">
                                                <p>{{ gustatif.sale }} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="aromes">
                                        <div class="st">
                                            <p>Arômes</p>
                                        </div>
                                        <div class="row bg-beige">
                                            <div class="input-field col s12">
                                                <p>{{ gustatif.arome }} </p>
                                            </div>
                                        </div>
                                        <div class="finale">
                                            <div class="st">
                                                <p>Finale</p>
                                            </div>
                                            <div class="row bg-beige">
                                                <div class="col l3 s3">
                                                    <p>{{ gustatif.finale }} </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </li>


                    {{!-- =============== CONCLUSION ===============--}}

                    <li>
                        <div class="collapsible-header section-title">
                            <h6>Conclusion</h6>
                        </div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="CONCLUSION">
                                    <div class="qualité">
                                        <div class="st">
                                            <p>Qualité</p>
                                        </div>
                                        <div class="row bg-beige">
                                            <div class="col l3 s3">
                                                <p>{{ conclusion.qualite }} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="moment">
                                        <div class="st">
                                            <p>Moment</p>
                                        </div>
                                        <div class="row bg-beige">
                                            <div class="col l4 s4">
                                                <p>{{ conclusion.moment }} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="association">
                                        <div class="st">
                                            <p>Association</p>
                                        </div>
                                        <div class="row bg-beige">
                                            <div class="input-field col s12">
                                                <p>{{ conclusion.association}} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="prix">
                                        <div class="st">
                                            <p>Prix public (pour une bouteille de 75cl)</p>
                                        </div>
                                        <div class="row bg-beige">
                                            <div class="col l3 s3">
                                                <p>{{ conclusion.prix }} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="note">
                                        <div class="st">
                                            <p>Note</p>
                                        </div>
                                        <div class="row bg-beige">
                                            <div class="input-field col s4">
                                                <p>{{ conclusion.note }} </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="modal-footer">

                </div>
            </div>
        </div>
        {{/each }}
    </ul>
</div>